body {
  background: #304365;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#balloon {
  --size: 1;
  width: 30vh;
  height: 40vh;
  position: relative;
  background: #ff6384;
  border-radius: 50% 50% 50% 50% / 54% 54% 46% 46%;
  transform: scale(var(--size, 1));
  transform-origin: bottom center;
  transition: transform 0.5s cubic-bezier(0.79, 1.66, 0.88, 0.38);
  overflow: hidden;
}

#balloon::before {
  content: "";
  width: 10%;
  height: 10%;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 20%;
  left: 20%;
  border-radius: 50%;
}

.shine {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 30%;
  height: 30%;
  background: radial-gradient(rgba(255, 255, 255, 0.7), transparent);
  border-radius: 50%;
}

.stem {
  width: 5vh;
  height: 10vh;
  background: #ff6384;
  clip-path: polygon(50% 0%, 100% 100%, 0 100%);
  margin-top: -1px;
  margin-bottom: 3vh;
}

button {
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
